<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Python Flask Multiple Files</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        h1 {
            text-align: center;
        }

        h2 {
            text-align: center;
        }

        p {
            text-align: center;
        }

        div {
            text-align: center;
        }

        ul {
            display: table;
            margin: 0 auto;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="my-4">File uploader</h1>
        <hr width="100" align="center">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form method="post" action="/" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="file">Upload file</label>
                        <input type="file" class="form-control-file" name="file" id="file" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        <hr>
        <h2 class="my-4">Uploaded files</h2>
        <ul>
            {% for file in files %}
            <li><a href="https://{{config.AZURE_STORAGE_ACCOUNT}}.blob.core.windows.net/{{config.AZURE_STORAGE_CONTAINER}}/{{file}}"
                    target="_blank">{{ file }}</a></li>
            {% endfor %}
        </ul>
        <p>
            <input type="text" id="srch" name="search" class="form-control" placeholder="Used storage: {{size}}">
        </p>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>
